.projectImg {
    width: 60%;
    float: left;
    height: 300px;
    margin-bottom: 20px;
    border-right: 1px grey solid;
}

.project-card {
    border: 5px darkblue solid;
    height: 310px;
    width: 106%;
    border-radius: 10px;
    position: relative;
}

.project-desc {
    width: 40%;
    float: right;
    height: 300px;
    background-color: #ccf1ff;
}

button {
    border-radius: 20px;
    background: darkblue;
    color: white;
    font-size: 13px;
    color: white;
}

.link-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
}

.img-div {
    position: relative;
}

.runApp {
    right: 0;
}
