.projectImg {
    width: 60%;
    float: left;
    height: 300px;
    margin-bottom: 20px;
    border-right: 1px grey solid;
}

.projectCard {
    border: 5px blue solid;
    height: 310px;
    width: 106%;
}

.projectDesc {
    width: 40%;
    float: right;
}

button {
    float: right;
    border-radius: 20px;
    background: lightblue;
    font-size: 13px;
    position: absolute;
    bottom: 20px;
}

.runApp {
    right: 0;
}