.navName,
.navTitle {
    color: blue;
    text-align: left;
    margin-left: 20px;
}

.navName {
    font-weight: bold;
    font-size: 30px;
}

.navTitle {
    font-size: 20px;
}

.links {
    cursor: pointer;
    position: absolute;
    bottom: 8.5px;
    right: 50px;
    margin-left: 10px;
}

