.navName,
.navTitle {
    color: blue;
    text-align: left;
    margin-left: 20px;
}

.navName {
    font-weight: bold;
    font-size: 30px;
}

.navTitle {
    font-size: 20px;
}

.links {
    margin: auto;
    cursor: pointer;
}

.about {
    cursor: pointer;
}