.navName,
.navTitle {
    color: #262b7d;
    text-align: left;
    margin-left: 20px;
}

.logo {
    height: 80px;
}



h3 {
    position: absolute;
    top: 15px;
}

h2 {
    position: absolute;
    bottom: 15px;
}

.navName {
    font-weight: bold;
    font-size: 30px;
}

.navTitle {
    font-size: 20px;
}

.links {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 50px;
    font-size: 20px;
    font-weight: bold;
}

