.App {
  text-align: center;
}

#body {
  margin: 70px 0 100px 0;
  height: 200px;
}

.profile {
  float: left;
  margin: 0 20px;
  height: 250px;
  -webkit-clip-path: circle(50% at 48% 46%);}

.bio {
  text-align: left;
  margin-left: 30px;
  font-size: 18px;
}

h1 {
  color: #262b7d;
  font-weight: bold;
}
